.App {
    font-family: 'Open Sans', sans-serif;
}

.txt-cen {
    text-align: center;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

.top {
    height: 100vh;
    background: url("david.jpg");
    color: white;
    background-size: cover;
    background-position: center;
}

.dialog {
    height: 6vh;
    width: auto;
}

.titlebar {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20px;
}

.subbar {
    padding-top: 71vh;
}

.tagline {
    font-size: 2.5vh;
}

.explore {
    padding-top: 20px;
}

.shop-now {
    background-color: #18181e;
    border-color: #18181e;
    color: #fff;
    padding: 8px 28px;
    font-size: 15px;
}


img {
    width: 100%;
}

.colorsquare {
    background-color: #18181e;
    color: white;
    height: 100vw;
    display: table-cell;
    width: 100vw;
    vertical-align: middle;
}

.blocktitle {
    font-size: 24px;
    padding-bottom: 10px;
}

.blocksubtitle {
    font-size: 16px;
}

.footer {
    height: 20vh;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #010101;
    color: white;
}

.bg-black {
    background-color: #010102;
}