.App {
    font-family: 'Open Sans', sans-serif;
}

.txt-cen {
    text-align: center;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

.top {
    height: 100vh;
    background: url("david.jpg");
    color: white;
    background-size: cover;
    background-position: center;
}

.titlebar {
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    --bs-gutter-x: 0;
}

.insta-title {
    padding-top: 3vh;
    font-size: 4vh;
    opacity: 90%;
    color: white;
}

.dialog {
    padding-top: 3vh;
    height: 8vh;
    width: auto;
}

.tagline {
    font-size: 3vh;
    height: 30vh;
    padding: 67px;
    padding-top: 66vh;
}

.explore {
    padding-top: 5vh;
    font-size: 3vh;
}

.second {
    height: 70vh;
    padding-top: 75px;
    padding-bottom: 50px;
}

.overview {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #241d24;
    font-size: 20px;
    font-weight: 300;
}

.overview-tagline {
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 20px;
}

.overview-text {
    font-size: 16px;
    line-height: 26px;
}

.superia {
    background-color: #a53c49;
    color: white;
}

.film-title {

}

img {
    width: 100%;
}

.footer {
    height: 50vh;
    padding: 5vh;
}